div {
    width: 10px;
    height: 10px;
    background: greenyellow;
    position:absolute;
    left:10;
  }
  
  button {
    width: 100px;
    height: 30px;
    position: absolute;
    top: 40px;
    left: 20px;
  }
  #reset {
    left: 150px;
  }